<form method="post" class="inline" action="{{ path('tache_delete', {'id': tache.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tache.id) }}">
     <button title="Supprimer cette tâche" class="btn btn-danger"><img class="delete" width='25px' src="{{asset('./images/icon-delete.png')}}"/></button>
</form>
