{% extends 'base.html.twig' %}

{% block title %}Modifier cette tâche{% endblock %}

{% block body %}

     {% include 'layout/navbar.html.twig' %}
        <div class="container-fluid mb-100">
             <a  href="{{ path('tache_index')}}"> <img class="retour" src="{{asset('./images/retour.png')}}"/> </a>
                <h1 style="margin-top: 45px !important;">Modifier cette tâche</h1>
                {{ include('tache/_form.html.twig', {'button_label': 'Update'}) }}
                <div class="delete-tâche"> {{ include('tache/_delete_form.html.twig') }} </div>
                    {#{ include('client/_delete_form.html.twig') }#}
             
        </div>
    {% include 'layout/footer.html.twig' %}
{% endblock %}
