{% extends 'base.html.twig' %}

{% block title %}Nouvelle tâche{% endblock %}

{% block body %}
<a  href="{{ path('client_show',{'id': client.id}) }}"> <img class="retour" src="{{asset('/images/retour.png')}}"/> </a>
    <h1>Ajouter une nouvelle tâche</h1>

    {{ include('tache/_form.html.twig') }}

{% endblock %}
