.bold{
    font-weight: bold !important;
}
td {
    font-weight: 600 !important;
} 
.center{
    text-align:center !important;
}
.right{
    float: right !important;
}
.white{
    color: white !important;
}
.table td, th{
    text-align: center !important;
}