{% extends 'base.html.twig' %}

{% block title %}Edit Appel{% endblock %}

{% block body %}
    <h1>Edit Appel</h1>

    {{ include('appel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_appel_index') }}">back to list</a>

    {{ include('appel/_delete_form.html.twig') }}
{% endblock %}
