.thead_red{
	background-color: rgb(196, 28, 28) !important;
	color: white;
}
.appareil .tr_no_color{
	color:#ff0606 !important;
}
.appareil .tr_color{
	background-color:#ff0606 ;
}
.thead_dark_green ,.thead_green{
	background-color: #106825 !important;
}
.tache .tr_no_color{
	color:#000000 !important;
}
.tache .tr_color{
	background-color:#424242 ;
}
.thead_black{
	background-color:#000000  !important;
}

.etat .tr_no_color, .form .tr_no_color{
	color:rgb(23, 155, 23) !important;
}
.etat .tr_color , .form .tr_color{
	background-color:rgb(23, 155, 23) ;
}
.select{
	color: white;
}
.select:hover {
	background-color: #1b1b1bbd ;
	color:white !important;
}

.pc-icon,.user-icon,.form-icon{
	width:25px; 
	float: left !important;
}
button.btn.btn-success.btn-form{
	background-color:rgb(23, 155, 23) ;
	font-size:15px;
	padding:5px;
}
.table td,.table th{
	max-width: 250px !important;
}
.mw-250{
	min-width: 260px !important;
}

.tab-filtre{
	margin: auto;
	min-width: 250px ;
	max-width: 800px !important;
	margin-bottom: 50px;
}

/*Responsive*/
@media (max-width: 1585px) {
	tr > td.h-ns, tr > th.h-ns{
		display:none;
	}
}
@media (max-width: 1355px) {
	tr > td.h-mdp, tr > th.h-mdp{
		display:none;
	}
}
@media (max-width: 1240px) {
	tr > td.h-modele, tr > th.h-modele{
		display:none;
	}
}
@media (max-width: 1135px) {
	tr > td.h-civil, tr > th.h-civil{
		display:none;
	}
}
@media (max-width: 1135px) {
	tr > td.h-civil, tr > th.h-civil{
		display:none;
	}
}
@media (max-width: 1045px) {
	tr > td.h-date, tr > th.h-date{
		display:none;
	}
}
@media (max-width: 938px) {
	tr > td.h-chargeur, tr > th.h-chargeur{
		display:none;
	}
}
