<p>
    --------------------------------
</p>
<p>
<b> AZERTY Solutions Informatiques </b>
</p>
<p >
<div> <img src="cid:location"  width="20px" > 38 rue de la station <div><span style="padding-left: 25px">Franconville 95130</p> </p>
</p>
<p>
    <img src="cid:whatsapp"  width="20px"></a> +33661699422
</p>
<p>
    <img src="cid:phone"  width="20px"> 01 34 15 52 32
</p>