<form method="post" action="{{ path('client_show_all')}}">
    <h6>Mois</h6>
    <div>
        <input type="checkbox" id="janvier" name="janvier"  value="01" {{janvierCheked}}>
        <label for="janvier">Janvier</label>
    </div>
    <div>
        <input type="checkbox" id="fevrier" name="fevrier"  value="02" checked>
        <label for="fevrier">Février</label>
    </div>
    <div>
        <input type="checkbox" id="mars" name="mars"  value="03" checked>
        <label for="mars">Mars</label>
    </div>
    <div>
        <input type="checkbox" id="avril" name="avril"  value="04" checked>
        <label for="avril">Avril</label>
    </div>
    <div>
        <input type="checkbox" id="mai" name="mai"  value="05" checked>
        <label for="mai">Mai</label>
    </div>
    <div>
        <input type="checkbox" id="juin" name="juin"  value="06" checked>
        <label for="juin">Juin</label>
    </div>
    <div>
        <input type="checkbox" id="juillet" name="juillet"  value="07" checked>
        <label for="avril">Juillet</label>
    </div>
    <div>
        <input type="checkbox" id="aout" name="aout"  value="08" checked>
        <label for="aout">Août</label>
    </div>
    <div>
        <input type="checkbox" id="septembre" name="septembre"  value="09" checked>
        <label for="septembre">Septembre</label>
    </div>
    <div>
        <input type="checkbox" id="octobre" name="octobre"  value="10" checked>
        <label for="octobre">Octobre</label>
    </div>
    <div>
        <input type="checkbox" id="novembre" name="novembre"  value="11" checked>
        <label for="novembre">Novembrbe</label>
    </div>
    <div>
        <input type="checkbox" id="decembre" name="decembre"  value="12" checked>
        <label for="decembre">Décembre</label>
    </div>
    <button class='btn' type="submit"> valider </button>
</form>
