{% extends 'base.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block body %}
 <a  href="{{ path('client_index') }}"> <img class="retour" src="{{asset('/images/retour.png')}}"/> </a>
    <h1 style="margin-top: 45px !important;">Modifier</h1>
       
   <div class="card" style="width: 60%; margin:auto;margin-bottom:150px; padding : 30px;">
        {{ include('client/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        {#{ include('client/_delete_form.html.twig') }#}
    </div>
{% endblock %}
