<h3>Changement de date d'intervention à domicile</h3>
<p>Bonjour, {{nom}} {{prenom}} </p>
<p>
    Nous avons bien reçu votre demande d'intervention à l'adresse : {{ adresse }} , toutefois nous vous sugerons une nouvelle date d'intervention : 
</p>
<p>
 <div style="font-size : 21 ; font-weight : bold; color : red;"> {{date|date('d F Y  H:i')|format_datetime('long', 'short',locale='fr')}}</div>  
<p>
   Si cette date vous convient merci de nous confirmer ou non votre demande en repondant à ce mail ou en appelant au 01.34.15.52.32
</p>
--------------------------------
</p>
<p>
AZERTY Solutions Informatiques
</p>
<p>
38 rue de la station 95130, Franconville
</p>
<p>
01.34.15.52.32
</p>