<h1>Dépot chez AZERTY Solutions Informatiques</h1>
<p>Bonjour,{{nom}} {{prenom}} </p>
<p>
</p>

<h3> Rappel de votre demande </h3>
<p>{{objet}}</p>
<p>{{message}}}}</p>

{% include 'emails/layout/footer.html.twig' %}