<form method="post" class='inline' action="{{ path('prioritaire_delete', {'id': prioritaire.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prioritaire.id) }}">
    <button class="btn btn-warning"><img class="delete" src="{{asset('/images/icon-moins.png')}}"/></button>
</form>
