{% extends 'base.html.twig' %}

{% block title %}New Prioritaire{% endblock %}

{% block body %}
    <h1>Create new Prioritaire</h1>

    {{ include('prioritaire/_form.html.twig') }}

    <a href="{{ path('prioritaire_index') }}">back to list</a>
{% endblock %}
