.call {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	animation-iteration-count: infinite;
	margin: auto;
  }
@keyframes shake {
	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	}
  
	20%, 80% {
	  transform: translate3d(2px, 0, 0);
	}
  
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
  
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}

}
.cardCall{
  width: 60%; 
  margin:auto !important;
  margin-bottom:150px; 
  padding : 30px;
}
@media screen and (max-width: 1000px)
{
    .cardCall{
        /*width: 70%;*/ 
        width: 95%; 
        font-size: 40px !important;
        margin:auto !important;
        margin-bottom:300px; 
        padding : 40px;
    }
    .cardCall .btn-responsive{
        padding: 20px !important;
        font-size: 50px !important;
    }
    .cardCall .form-control {
       height: 120px;
       font-size: 40px !important;
    }
    .cardCall label {
        font-size: 30px !important;
     }
    
}