{% extends 'base.html.twig' %}

{% block title %}Modifier l'intervention à domicile{% endblock %}

{% block body %}
    
    {% include 'layout/navbar.html.twig' %}
    
    <div class="container-fluid">
        <a  href="{{ path('app_rdv_index') }}"> <img class="retour" src="{{asset('./images/retour.png')}}"/> </a>
        <h1>Modifier l'intervention à domicile</h1>
    </div>
    
        <div class="container">
                
                
                <div class="card p-50  mt-5 mb-5 cardRdvNew">
                    {{ include('rdv/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                </div> 
                <div class='loadingRdv' id="loadingRdv"> {{ include('layout/loader.html.twig') }} </div>
    </div>
    {% include 'layout/footer.html.twig' %}
{% endblock %}
