body{
	background-color: #334a62;
}
.title_client{
	color: #d6dcf1;
	text-shadow: 0.1em 0.1em 0.1em rgba(170, 169, 169, 0.692);
}
.table_head{
	background-color: #4b6bd4;
	color: white;
}

.tr_no_color {
	color:#0640ff !important;
	background-color: rgb(255, 255, 255);
}
.tr_color{
	background-color: #0080ff ;
}
.select{
	color: white;
}
.select:hover {
	background-color: #494343da;
	color:white !important;
}
.inline{
	display: inline !important;
	
}
.width-s{
	max-width:30px;
}
.btn-sm{
	width: 10px !important;
}