{% extends 'base.html.twig' %}

{% block title %}Modifier un membre{% endblock %}

{% block body %}
<a  href="{{ path('user_show', {'id': user.id}) }}"> <img class="retour" src="{{asset('/images/retour.png')}}"/> </a>
    <h1>Modifier un membre</h1>
    <div class="card" style="width: 60%; margin:auto;margin-bottom:150px; padding : 30px;">
        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

        
    </div>
{% endblock %}
